
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form__input {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.form__button {
    display: inline-block;
    width: 100%;
}
